<%- include("head") %>
<%- include("headContent") %>

<% if (Boolean((adminpanel.configHelper.getConfig()).dashboard)) { %>
    <% if(havePermission('widgets', req.session.UserAP)){ -%>
        <script src="/admin/assets/build/js/vue-widgets.js" defer></script>
        <div class="content__body">
            <div id="widgets"></div>
        </div>
        
        <div class="content__body">
            <div id="installStep"></div>
            <script>
                MountJSONForm({
                    mountDivId: '#installStep'
                })
                
            </script>
        </div>
    <% } -%>
<% } else { %>
    HELLO
<% } %>
<%- include("footer") %>
