<%- include("head") %>
<%- include("headContent") %>

<% if (Boolean((adminpanel.configHelper.getConfig()).dashboard)) { %>
    <% if(Boolean((adminpanel.configHelper.getConfig()).globalSettings.enableWidgets)){ -%>
        <script src="/admin/assets/build/js/vue-widgets.js" defer></script>
        <div class="content__body">
            <div id="widgets"></div>
        </div>
    <% } -%>
<% } else { %>
    HELLO
<% } %>
<%- include("footer") %>
