<%- include("mixin/sections") %>
<div class="grid md:block md:flex-grow grid-cols-[252px_8px_1fr] h-[calc(100%_-_96px)] md:h-auto content-resize">
    <%- include("mixin/navbar", {entity: entity}) %>
    <div class="h-full bg-neutral-100 dark:bg-gray-900 w-2 md:hidden cursor-col-resize left-resize"></div>
    <div class="content w-full overflow-auto md:pt-[60px] h-full">
        <%- include("mixin/alerts") %>
