<h1>Hello world from jsonforms</h1>
<p>totalStepCount: <%= totalStepCount %></p>
<p>leftStepsCount: <%= leftStepsCount %></p>
<p>currentStep: <%= JSON.stringify(currentStep) %></p>

<script src="/admin/assets/build/js/vue-widgets.js" defer></script>
<script src="/admin/assets/build/js/vue-installStepper.js"></script>
<div class="content__body">
    <div id="widgets"></div>
</div>

<div class="content__body">
    <div id="installStep"></div>
    <script>
		// Pass variables from EJS to the script
		var currentStepData = <%- JSON.stringify(currentStep) %>;

		MountJSONForm({
			mountDivId: '#installStep',
			schema: currentStepData.payload.data.jsonSchema,
		    uischema: currentStepData.payload.data.uiSchema
		})

    </script>
</div>
