<form action="" id="customForm">
    <%- include("add.ejs") %>
    <div>
        <button class="btn btn-green mt-4" id="save-group">
            Save
        </button>
    </div>
</form>
<script>
	{
		let modelParentIDInput = document.querySelector('input[name="parentID"]')
		let parentID = document.getElementById('parentID')
		if (parentID && modelParentIDInput) {
			modelParentIDInput.setAttribute('disabled', 'disabled')
			modelParentIDInput.style.opacity = '0.5'
			modelParentIDInput.value = parentID.value
		}
		document.getElementById('customForm').addEventListener('submit', function (e) {
			e.preventDefault()
			let data = {}
			let uri = "<%= entity.uri %>/add"
			let checkboxReady = document.getElementById('checkbox-ready')

			setTimeout(async () => {
				for (const eElement of e.target.elements) {
					if (eElement.value) {
						data[eElement.name] = eElement.value
					}
				}
				data.json = true
				if (parentID) data.parentID = parentID.value ? parentID.value : null
				let res = await ky.post(uri, {json: data}).json()
				if (res.record && checkboxReady) {
					checkboxReady.click()
				}
			}, 10)
		})
	}
</script>
