<form action="" id="customForm">
    <%- include("add.ejs") %>
    <div>
        <button class="btn btn-green mt-4" id="save-group">
            Save
        </button>
    </div>
</form>
<script>
	{
		let modelParentIDInput = document.querySelector('input[name="parentId"]')
		let parentId = document.getElementById('parentId')
		if (parentId && modelParentIDInput) {
			modelParentIDInput.setAttribute('disabled', 'disabled')
			modelParentIDInput.style.opacity = '0.5'
			modelParentIDInput.value = parentId.value
		}
		document.getElementById('customForm').addEventListener('submit', function (e) {
			e.preventDefault()
			let data = {}
			let uri = "<%= entity.uri %>/add"
			let checkboxReady = document.getElementById('checkbox-ready')

			setTimeout(async () => {
				for (const eElement of e.target.elements) {
					if (eElement.value) {
						data[eElement.name] = eElement.value
					}
				}
				data.json = true
				if (parentId) data.parentId = parentId.value ? parentId.value : null
				let res = await ky.post(uri, {json: data}).json()
				if (res.record && checkboxReady) {
					let data = res.record
                    data.type = "<%= entity.config.model %>"
					ky.post('', {json: {data: res.record, _method: 'createItem'}}).then(r => {
						checkboxReady.click()
					})
				}
			}, 10)
		})
	}
</script>
