<% var idField = adminpanel.configHelper.getIdentifierField(entity.config.model) %>
<form action="" id="customForm">
    <%- include("edit.ejs") %>
    <div>
        <button class="btn btn-green mt-4" id="save-group">
            Save
        </button>
    </div>
</form>
<script>
	{
		let modelParentIDInput = document.querySelector('input[name="parentId"]')
		if (modelParentIDInput) {
			modelParentIDInput.setAttribute('disabled', 'disabled')
			modelParentIDInput.style.opacity = '0.5'
		}
		document.getElementById('customForm').addEventListener('submit', function (e) {
			e.preventDefault()
			let data = {}
			let uri = "<%= entity.uri %>/edit/<%= record[idField] %>"
			let checkboxReady = document.getElementById('checkbox-ready')

			setTimeout(async () => {
				for (const eElement of e.target.elements) {
					if (eElement.value) {
						data[eElement.name] = eElement.value
					}
				}
				data.json = true
				let res = await ky.post(uri, {json: data}).json()
				if (res.record && checkboxReady) {
					checkboxReady.click()
				}
			}, 10)
		})
	}
</script>
