<% if (adminpanel.menuHelper.hasGlobalActions(instance.config, actionType)) { %>
    <% var actions = adminpanel.menuHelper.getGlobalActions(instance.config, actionType) %>
    <% if (actions && actions.length > 0) { %>
        <% actions.forEach(function(action) { %>
            <a href="<%= action.link %>" id="<%= action.id %>">
                <button class="btn btn-success">
                    <i class="las la-<%= action.icon %>"></i>
                    &nbsp;<%= action.title %>
                </button>
            </a>
        <% }) %>
    <% } %>
<% }%>

